* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.contenedor {
  background-color: rgb(243, 215, 54);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  align-items: center;
}

.contenedor div {
  background-color: rgb(174, 54, 243);
}

.cuadro {
  border: 1px solid rgb(243, 215, 54);
  border-width: 10px;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  background-color: cadetblue;
}

.cuadro div {
  background-color: rgb(243, 215, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}

.cuadro div:hover {
  background-color: rgba(243, 215, 54, 0.719);
  cursor: pointer;
}

button {
  padding: 40xp 20xp;
  background-color: rgb(240, 123, 240);
  color: rgb(134, 67, 23);
  outline: none;
  border: 0px;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  font-family: monospace;
}

button:hover {
  cursor: pointer;
  background-color: rgb(161, 189, 248);
}

footer {
  display: block;
  width: 100%;
  background-color: rgb(243, 215, 54);
  padding: 5px;
}
